<div *ngIf="Verified, else notVerifiedTemplate" class="alert alert-primary mb-0" role="alert">
    WELCOME {{data.username}}&nbsp; Registered Email : {{data.email}}
  </div>
  <ng-template #notVerifiedTemplate>
    <div class="alert alert-danger mb-0" role="alert">
      WELCOME (SIGN -IN TO USE AL FEATURES)
    </div>
  </ng-template>
  
  <!--Carousel-->
  
  <!--Carousel ends-->
  <div class="offer-image">
    <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1695390994/Croma%20Assets/CMS/LP%20Page%20Banners/2023/HP%20Top%20Rotating%20Deals/September/26%20Sep/Desktop/HP_M_O_26sept2023_okaxmx.jpg?tr=w-2048" alt="offer">
  </div>
  
  <div class="alert alert-warning" role="alert">
    SALE IS LIVE! DON'T FORGET TO GRAB THE HOTTEST DEALS.
  </div>
  
  <div class="container mt-3 mb-5 d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
      <img src="https://static.vecteezy.com/system/resources/previews/000/400/227/original/illustration-of-a-mobile-phone-vector.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SMARTPHONES</h5>
        <p class="card-text">Best Deals and Exchange Offers.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="https://icon-library.com/images/laptop-vector-icon/laptop-vector-icon-18.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAPTOPS</h5>
        <p class="card-text">All Types of laptops for everyone.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="https://static.vecteezy.com/system/resources/previews/000/226/010/original/retro-television-set-vector.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TELEVISION</h5>
        <p class="card-text">We have all kinds of televisions.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="https://static.vecteezy.com/system/resources/previews/000/350/946/original/fridge-vector-icon.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">REFRIGERATOR</h5>
        <p class="card-text">Beat the heat and chill it.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  
  
  <div class="offer-image">
    <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1694524141/Croma%20Assets/CMS/LP%20Page%20Banners/2023/Home%20Upgrade/Ganpati%20Theme/HP%20rotating/HP_GG_12Sept2023_orqnfx.jpg?tr=w-2048" alt="offer">
  </div>
  
  
