<div class="container mt-3 mb-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Actual price</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <img style="width: 100px; height: auto;" src="{{product.thumbnailUrl}}" alt="...">
            <h5 style="width: 400px;">{{product.productName}}</h5>
          </td>
          <td class="text-success">Rs. {{product.price}}</td>
          <td class="text-success">Rs. {{product.price - product.discount}}</td>
          <td class="text-success">Rs. {{product.discount}}</td>
          <td class="text-success">{{product.stock}}</td>
          <td>
            <a [routerLink]="['/product', product.id]" class="btn btn-danger">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
